* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

#heromain #header .icons {
  margin-right: 30px;
  display: flex;
  gap: 20px;
}
#heromain #header .navbar h1 {
  text-shadow: 3px 3px gray;
  margin-left: 20px;
  font-size: 40px;
}
#heromain #header .navbar nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#heromain #header .navbar nav .icons i:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}
#heromain #header .navbar nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 25px;
}
#heromain #header .navbar nav ul a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
#heromain #header .navbar nav ul a:hover {
  background-color: black;
  color: whitesmoke;
}
#heromain #header div p {
  height: 60px;
  background-color: black;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero1 {
  /* background: url(https://www.shoetree.io/collections/all-products) no-repeat center center/cover; */
  background: url(https://asset.swarovski.com/images/c_crop,g_xy_center,w_9260,h_5209,x_5000,y_3597/dpr_1.0,f_auto,q_auto,c_lfill,w_1449,h_830/swa-cms/LOOKBOOKSS24_LOOK2-1_OF_GL_72DPI_RGB_MIRROR/.jpg) no-repeat center center/cover;
  height: 100vh;
}
#hero1 a {
  text-decoration: none;
}
#hero1 a:hover {
  color: white;
  transform: scale(1.5);
  transition: all 0.3s;
}
#hero1 .btn:hover {
  background-color: black;
  transform: scale(1.05);
  transition: all 0.3s;
}

.main1 h1 {
  font-size: 50px;
}

.btn {
  padding: 5px 60px 5px 60px;
  background-color: transparent;
}

.main1 {
  padding-top: 200px;
  padding-left: 50px;
}

.divbutton {
  padding-left: 50px;
}

#hero2 {
  height: 200vh;
  background-size: 100% 100%;
  background-color: rgb(240, 232, 232);
}
#hero2 .main2 {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero2 .main2 h1 {
  font-size: 50px;
  font-weight: 530;
  font-family: Arial, Helvetica, sans-serif;
}
#hero2 .main2 h1 span {
  font-size: 18px;
  font-weight: 400;
}

#hero2 .main2 p {
  font-size: larger;
}

.highlights h1 {
  margin-left: 130px;
  font-size: xx-large;
}

.slide-img1 {
  display: flex;
  gap: 20px;
  overflow: scroll;
  margin-left: 130px;
}

.holiday {
  font-size: 30px;
  font-weight: 500;
}

.para-below {
  padding-left: 130px;
  padding-top: 100px;
}
.para-below p {
  font-size: larger;
  font-weight: 300;
}

.spotlight {
  font-size: 30px;
  font-weight: 700;
}

.discover {
  font-size: larger;
  font-weight: 300px;
}

.main3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.div_spotlight {
  padding: 50px;
}

.style_stories {
  font-size: 30px;
  font-weight: 700;
}

.explore {
  font-size: larger;
  font-weight: 300px;
}

.main4 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.div_stories {
  padding: 50px;
}

.inside_aurora {
  font-size: 30px;
  font-weight: 700;
}

.learn {
  font-size: larger;
  font-weight: 300px;
}

.main5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.div_inside {
  padding: 140px;
}

.loadmore {
  margin-top: 30px;
  padding-top: 60px;
  height: 9vh;
  background-color: rgb(219, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadmore button {
  background-color: black;
  color: white;
  padding: 15px 60px 15px 60px;
}
.loadmore button:hover {
  border: 1px solid black;
  background-color: gray;
  transform: scale(1.05);
  transition: all 0.3s;
}

#hero6 {
  height: 125vh;
  background-color: rgb(219, 211, 211);
}

.main6 {
  padding-top: 50px;
  padding-left: 50px;
}
.main6 h1 {
  padding-top: 40px;
  font-size: 50px;
  font-weight: 100;
}
.main6 .pd-services div i:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}

.customer {
  font-size: 20px;
  font-weight: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.service {
  font-size: 20px;
  font-weight: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.gift {
  font-size: 20px;
  font-weight: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.pd-services {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
}
.pd-services i {
  font-size: 40px;
}

.join {
  height: 59vh;
  margin-top: 70px;
  background-color: rgb(108, 193, 226);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 48px;
}

.club {
  color: whitesmoke;
  padding: 8px 60px 8px 60px;
  background-color: black;
}

.club:hover {
  background-color: gray;
}

.footer {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}
.footer a {
  text-decoration: none;
  color: rgb(172, 167, 167);
}
.footer ul {
  list-style: none;
}

#main_footer {
  background-color: black;
  color: white;
  height: 120vh;
}

hr {
  margin-right: 80px;
  margin-left: 80px;
}

.last_foot {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.last_foot div h1 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

#hero7 {
  background: url(https://images.pexels.com/photos/1229414/pexels-photo-1229414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero7 .main7 {
  color: black;
}
#hero7 .main7 h1 {
  font-size: 50px;
}
#hero7 .main7 p {
  font-size: xx-large;
}

#hero8 .main8 {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ruppee {
  font-size: 25px;
}

.sort {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214, 208, 208);
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  height: 70vh;
  border-radius: 10%;
  box-shadow: -6px -6px 15px 5px gray;
  margin-top: 2%;
}
.box .imagecontent {
  padding-left: 20px;
  padding-top: 15px;
}
.box img {
  height: 250px;
  width: 294px;
  justify-content: center;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.box:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

#hero9 {
  background: url(https://asset.swarovski.com/images/c_crop,g_xy_center,w_3409,h_1155,x_1705,y_1279/dpr_1.0,f_auto,q_auto,c_lfill,w_1449,h_600/swa-cms/2024_HOLIDAY_TIER_2_GIFTING_STILL_LIFE_3_72DPI_RGB/.jpg) no-repeat center center/cover;
  height: 100vh;
}

.main9 {
  padding-top: 160px;
  padding-left: 100px;
}
.main9 h1 {
  font-size: 40px;
  font-weight: 530;
  font-family: Arial, Helvetica, sans-serif;
}

.main10 {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#hero11 {
  background: url(https://www.justwatches.com/cdn/shop/articles/1.png?v=1732698425&width=1296) no-repeat center center/cover;
  height: 100vh;
}

.main11 {
  padding-top: 160px;
  padding-left: 100px;
}
.main11 h1 {
  font-size: 40px;
  font-weight: 530;
  font-family: Arial, Helvetica, sans-serif;
}

.main12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}/*# sourceMappingURL=style.css.map */