*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
#header
{ 
     div{ 
        p{
    height: 60px;
    background-color: black;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}
}
.shoe{
    color: green;
}
.tree{
    color: brown;
}
.navbar 
{nav
    {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.navbar
{ nav 
    {ul
        {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 25px;
        }
    }
}
.navbar
{ h1
    {
        text-shadow: 3px 3px gray;
    margin-left: 20px;
    font-size: 40px;
}
}
.navbar 
{nav 
    {ul 
        {a
            {
    text-decoration: none;
    color: black;
    font-size: larger;
            }
        }
    }
}
.icons{
    margin-right: 30px;
    display: flex;
    gap: 20px;
}
#hero1{
    /* background: url(https://www.shoetree.io/collections/all-products) no-repeat center center/cover; */
    background: url(https://asset.swarovski.com/images/c_crop,g_xy_center,w_12998,h_4401,x_7798,y_2641/dpr_1.0,f_auto,q_auto,c_lfill,w_760,h_257/swa-cms/FW24_LOOKBOOKSS24_BLACK-FRIDAY_MIRROR_EXT/.jpg)no-repeat center center/cover;
    height: 100vh;
    
}
.main1{
    h1{
        font-size: 50px;
    }
}
.btn{
    padding: 5px 60px 5px 60px;
    background-color: transparent;
}
.main1{
    padding-top: 200px;
    padding-left: 50px;
}
.divbutton{
    padding-left: 50px;
}
#hero2{  height: 200vh;
    background-size: 100% 100%;
    background-color: #808080;
    .main2{ height: 60vh;
        padding-top: 80px;
        display: flex;
        justify-content: center;

        h{
            font-size: 30px;
            font-weight: 50px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }
}

#hero2{
    .main2{
        p{
                font-size: larger;
        }
    }
}

.highlights{
    h{  margin-left: 130px;
        font-size: xx-large;
    }
}
.slide-img1{
    display: flex;
    gap: 20px;
    overflow: scroll;
    margin-left: 130px;
}
.holiday{
    font-size: 30px;
    font-weight: 500;
}
.para-below{
    padding-left: 130px;
    padding-top: 100px; p{
    font-size: larger;
    font-weight: 300;
}
}
.spotlight{
    font-size: 30px;
    font-weight: 700;
}
.discover{
    font-size: larger;
    font-weight: 300px;
}
.main3{
    display: flex;
    flex-direction: row;
}

































/* #header{
    height: 40px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shoe{
    color: green;
}
.tree{
    color: brown;
}
.navbar nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero1 .navbar nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 50px;
    
}
.navbar h1{
    margin-left: 20px;
    font-size: 40px;
}
.navbar nav ul{
    margin-right: 20px;
}
.navbar nav ul a{
    text-decoration: none;
    color: black;
}
  */